@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
